# Noteboook Pertama

Ini adalah Notebook Trial pertama

In [2]:
print("Ini adalah Notebook")

Ini adalah Notebook

### Tipe Data dalam Python

In [6]:
type(5)

int

In [7]:
# Tipe Data Tunggal
print(type(5))
print(type(5.0))
print(type(True))
print(type("Afif"))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [ ]:
# Tipe Data Majemuk
(1, 5, "Afif", 3.6, True) #Tuple
[1, 5, "Afif", 3.6, True] #list
{'nama':'Afif', 'usia':'18'} #dictionary

In [9]:
print(type((1, 5, "Afif", 3.6, True)))

<class 'tuple'>

In [10]:
print(type([1, 5, "Afif", 3.6, True]))

<class 'list'>

In [11]:
print(type({'nama':'Afif', 'usia':'18'}))

<class 'dict'>

### Variabel

In [12]:
x = 7
print(x)

7

In [13]:
x+2

9

In [14]:
y = 5
x+y

12

In [15]:
x=2
x+y

7

In [16]:
ab = 34
type(ab)

int

In [17]:
nama, usia = "Afif", 18
print(nama)
print(usia)

Afif
18

In [18]:
nama_1 = "budi"
nama_2 = "WISNU"
print(nama_1, nama_2)

budi WISNU

### String

In [19]:
my_string = "Shafira L"
my_string_2 = "Shafira L"
type(my_string)

str

In [20]:
hari_friday = 'Jum\'at'
print(hari_friday)

Jum'at

In [22]:
hjkjsj = "ywtwttwuwuwiwiwwn majaoaojd"
len(hjkjsj)

27

In [23]:
hjkjsj.upper()

'YWTWTTWUWUWIWIWWN MAJAOAOJD'

In [24]:
hjkjsj = hjkjsj.upper()

In [25]:
hjkjsj

'YWTWTTWUWUWIWIWWN MAJAOAOJD'

In [26]:
hjkjsj.capitalize()

'Ywtwttwuwuwiwiwwn majaoaojd'

In [28]:
'halo dunia'.title()

'Halo Dunia'

### String Formatting

In [33]:
namee = "Budi"
usiaa = 9
print(f"Nama saya {namee} dan usia saya {usiaa} tahun")

Nama saya Budi dan usia saya 9 tahun

### Indexing & Slicing

In [35]:
nama_a = "Hacktiv8"
nama_a[5]

'i'

In [36]:
nama_a[-5]

'k'

In [42]:
bootcamp_1 = "HACKTIV8"

In [43]:
bootcamp_1[2:6:1]

'CKTI'

In [44]:
bootcamp_1[2:6]

'CKTI'

In [46]:
bootcamp_1[2:]

'CKTIV8'

In [48]:
bootcamp_1[:-6:]

'HA'

### Operasi

In [53]:
#Operasi Aritmatika
print(5+6)
print(5-6)
print(5*6)
print(5/6)
print(5//6)
print(5%6) #sisa bagi
print(5**6) #pangkat

11
-1
30
0.8333333333333334
0
5
15625

In [56]:
name_front = "Barack "
name_last = "Obama"
print(name_front + name_last)
print(name_front + name_last * 5)

Barack Obama
Barack ObamaObamaObamaObamaObama

In [63]:
#Operasi Perbandingan
print(5 == 3)
print(5 != 3)
print(5 <= 3)
print(5 < 3)
print(5 >= 3)
print(5 > 3)

False
True
False
False
True
True

In [64]:
axax = 7
axax == 7

False

In [65]:
axax == 4

False

In [66]:
hasil12 = 5<3
print(hasil12)

False

In [67]:
# Operasi Logika
True or False and True

True

In [4]:
#OPerasi Keanggotaan
jkjkjk = 'Ocha'

'o' in jkjkjk

False

In [6]:
buahbuahan = ("Pepaya", "Mangga", "Pisang")

"Mangga" in buahbuahan

True

### Tipe Data Majemuk

In [9]:
my_tuple = (4, 2, "Hacktiv8", 5.4, True, (1, 2, 3))

In [12]:
my_tuple[5]

(1, 2, 3)

In [10]:
my_tuple[2:5]

('Hacktiv8', 5.4, True)

In [11]:
my_tuple[2][2:6]

'ckti'

In [13]:
len(my_tuple)

6

In [16]:
my_list = [4, 2, "Hacktiv8", 5.4, True, (1, 2, 3)]

In [17]:
my_list[5]
#Basically similiar with Tuple

(1, 2, 3)

In [18]:
#replacement
my_list[2] = "Strawberry"

In [19]:
my_list[2]

'Strawberry'

In [20]:
#addition(Last order)
my_list.append('Hacktiv8')

In [21]:
my_list

[4, 2, 'Strawberry', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [22]:
#addition(custom order)
my_list.insert(2, 46)

In [23]:
my_list

[4, 2, 46, 'Strawberry', 5.4, True, (1, 2, 3), 'Hacktiv8']

In [24]:
#remove based on item
my_list.remove("Strawberry")

In [25]:
my_list

[4, 2, 46, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [26]:
#remove based on order
del my_list[2]

In [27]:
my_list

[4, 2, 5.4, True, (1, 2, 3), 'Hacktiv8']

In [28]:
# Dictionary

biodat4 = {'nama':'Steph', 'usia':'22'}

In [29]:
biodat4['nama']

'Steph'

In [30]:
biodat4.keys()

dict_keys(['nama', 'usia'])

In [31]:
biodat4.values()

dict_values(['Steph', '22'])

In [32]:
biodat4

{'nama': 'Steph', 'usia': '22'}

In [33]:
#mengubah data
biodat4['usia'] = 20

In [34]:
biodat4

{'nama': 'Steph', 'usia': 20}

In [36]:
#menambah data
biodat4['pekerjaan']= 'Data Scientist'

In [37]:
biodat4

{'nama': 'Steph', 'usia': 20, 'pekerjaan': 'Data Scientist'}

In [47]:
#menhapus data
del biodat4['nama']

In [ ]:
del biodat4['usia']

In [48]:
biodat4

{'pekerjaan': 'Data Scientist'}